<a href="https://colab.research.google.com/github/jr-manoj/iNeuron_Assignemnt/blob/main/Programming_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.	Write a Python program to convert kilometers to miles?**

In [2]:
# 1 kilometer equal 0.621371 mile

user_input = int(input("Enter the kilometers: "))

def kilo_to_mile(kilometer):
  return kilometer * 0.621371
  

print(f"{user_input} kilometer equals {kilo_to_mile(user_input)} miles.")

Enter the kilometers: 100
100 kilometer equals 62.137100000000004 miles.

**2.	Write a Python program to convert Celsius to Fahrenheit?**

In [10]:
# Formula: (C * 9/5)+32


def conv_fahrenheit():
  celsius = int(input("Enter celsius: "))
  fahrenheit = (celsius * 9/5) + 32
  print(f"{celsius}째 Celsius = {fahrenheit}째 Fahrenheit.")

conv_fahrenheit()

Enter celsius: 27
27째 Celsius = 80.6째 Fahrenheit.

**3.	Write a Python program to display calendar?**

In [7]:
import calendar

year = int(input('Enter the year: '))
month = int(input('Enter the month: '))

print(calendar.month(year,month))

Enter the year: 2022
Enter the month: 7
     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [11]:
# To print all calendar of that particular year
print(calendar.calendar(year))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

**4.	Write a Python program to solve quadratic equation?**

In [12]:
# Quadratic eqn -> ax**2 + bx +  =0
# Quadratic Formula -> 
# 1. -b - sqrt(b**2 - 4*a*c)
# 2. -b + sqrt(b**2 - 4*a*c)

In [17]:
# import complex math module
import cmath

a = float(input('Enter a value: '))
b = float(input('Enter b value: '))
c = float(input('Enter c value: '))

# calculating discriment
d = (b**2 - (4*a*c))

# Now, two solution (- and +)
sol1 = (-b-cmath.sqrt(d))/(2* a)
sol2 = (-b+cmath.sqrt(d))/(2* a)


print("Output1: ", sol1)
print("Output2: ", sol1)

Enter a value: 10
Enter b value: 31
Enter c value: 26
Output1:  (-1.55-0.44440972086577946j)
Output2:  (-1.55-0.44440972086577946j)

**5.	Write a Python program to swap two variables without temp variable?**

In [ ]:
# Formula
# n1 = 5 and n2 = 4
# n1 = n1 + n2 -> (5 + 4) = 9
# n2 = n1-n2  ->  (9 - 4) = 5
# n1 = n1-n2  ->  (9 - 5) = 4

# So, n1 = 4 and n2 = 5

In [19]:

def swap_two_num():
  
  num1 = int(input("Enter first number: "))
  num2 = int(input("Enter second number: "))
  print("\nBefore swaping: ", num1, num2)
  print('-'*30)

  # swaping two num
  num1 = num1 + num2
  num2 = num1 - num2
  num1 = num1 - num2

  print("After swaping: ", num1, num2)



swap_two_num()

Enter first number: 12
Enter second number: 13

Before swaping:  12 13
------------------------------
After swaping:  13 12