<a href="https://colab.research.google.com/github/jr-manoj/iNeuron_Assignemnt/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Assignment

**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**


` *,'hello', -87.8, -, /, +, 6`

Ans: 

There are 4 Operators and 3 Expressions.

Operator:   *,/,+,-

Expression: hello, -87.8, 6

**2. What is the difference between string and variable?**

Ans: 

Variable: Think of variable, as a symbols that can be use to store data in a program. (as an empty box that can be fill with some data or value).

String: String are data, so we can used them to fill up a variable.

**3. Describe three different Data Types ?**

Ans: This, are the Python bulit-in data type:

**Text Type:**	str

**Numeric Types:**	int, float, complex

**Sequence Types:**	list, tuple, range

**Mapping Type:**	dict

**Set Types:**	set, frozenset

**Boolean Type:**	bool

**Binary Types:**	bytes, bytearray, memoryview

**None Type:**	NoneType

In [ ]:
# int data type
int_num = 30
print(int_num, type(int_num))
# boolean data type
bol = True
print(bol, type(bol))
# None data type
x = None
print(x, type(x))

30 <class 'int'>
True <class 'bool'>
None <class 'NoneType'>

4. What is an expression made up of? What do all expressions do?

Ans: An expression is a combination of values, variables, operators, and calls to functions. This expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [ ]:
print(len("Hello"))
print(40 + 12)
print(4*5+20-40)

5
52
0

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

[Expression vs statement](https://youtube.com/watch?v=xSLq5pXxao0)

In [ ]:
iq = 100;
user_age = iq/5

# Here, iq/5 is and expression which produces some values
# The whole line, (user_age = iq/5) is an statment.

courseName = "INeuron FullStack DataScience" # Statement
print("My name is Jon!") # Is a Expression Statement.

My name is Jon!

**6.After running the following code, what does the variable bacon contain?**

```
bacon = 22

bacon + 1
```

In [ ]:
bacon = 22
bacon + 1 # This, doesn't make any value change
print(bacon) 

# bacon+=1  # This make value change.

22

**7.What should the values of the following two terms be?**

```
'spam'+'spamspam'
'spam'*
```

In [ ]:
print('spam' + 'spamspam') # String concatenation
print('spam' * 3) # String multipliation

 # Output -> Both Same

spamspamspam
spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

Ans: Because, as the python naming variable rule, 

1. must start with a letter or underscore.
2. Cannot start with a number.
3. Only contain (A-z, 0-9, & _ )
4. Variable name are case sensitive (RAM, ram and Ram are three different variables.)
5. Reserved word i.e. Keyword cannot be used as naming the variable.

In [ ]:
egg = "This is valid"
100 = "This is invalid"

print(egg)
print(100)

SyntaxError: ignored

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

Ans:

1. int() function is used to get the integer value. Return an expression converted into an integer number.
2. float() function is used to get the floating-point value. Return an expression converted into an floating-point number.
3. str() function is used to get the string representation. Return an expression converted into an string.

In [ ]:
print('Integer: ', int(10.89)) # Passing float -> int
print('Float: ', float(20)) # Passing int -> float
print('String: ', str(21)) # Passing int -> string

Integer:  10
Float:  20.0
String:  21

**10. Why does this expression cause an error? How can you fix it?**

`'I have eaten ' + 99 + ' burritos.' `

Ans: 

Here, 99 is an integer value, not an string. So, concatenation with string is not possible. That's why  need to convert 99 into string '99'.

In [ ]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.