<a href="https://colab.research.google.com/github/jr-manoj/iNeuron_Assignemnt/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What exactly is [ ] ?

Ans: [ ] is used to create list in python. Here, [] is an empty list which is similar to '' which denote empty string.

In [1]:
lst = []
lst

[]

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Ans: By using insert() method or by directly like spam[2] = 'hello'.

In [2]:
spam = [2,4,6,8,10]

In [3]:
# Assign the value 'hello' as the third value

spam.insert(2,'hello')

# Or, 
# spam[2] = 'hello'

In [4]:
spam

[2, 4, 'hello', 6, 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

Ans: Here, '3' is string so when it multiply with 2 then` 33` will be the output. And when the output int(33/11) then `3` which is index 3. So it will print **'d'** value.

In [5]:
spam = ['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'

4. What is the value of spam[-1]?

In [6]:
spam[-1] # Last value

'd'

5. What is the value of spam[:2]?

In [7]:
spam[:2] # start from beginning till 2 (excluding 2)

['a', 'b']

## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [8]:
bacon = [3.14, 'cat', 11, 'cat', True]

6. What is the value of bacon.index('cat')?

In [9]:
bacon.index('cat') # NOTE: Because, index method returns the index of first occuerence of 'cat'

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [10]:
print(bacon)
bacon.append(99) # NOTE: Append always append value to the end of the list
bacon

[3.14, 'cat', 11, 'cat', True]

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [11]:
print(bacon)
bacon.remove('cat') # .remove() always remove the first occuerence of 'cat' which is in index 1.
bacon

[3.14, 'cat', 11, 'cat', True, 99]

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

Ans: 

For list concatenation `+` operator is used.

For list replication `'*'` operator is used.

In [12]:
lst1 = ['manoj', 'kumar', 'kabin', 'prabin', 'kushal']
lst2 = ['birat', 'binod','bibek']
# List concatenation
print(lst1+lst2)
# List replication 
print(lst2 * 2) # Replicate the list 2 times.

['manoj', 'kumar', 'kabin', 'prabin', 'kushal', 'birat', 'binod', 'bibek']
['birat', 'binod', 'bibek', 'birat', 'binod', 'bibek']

10. What is difference between the list methods append() and insert()?

Ans: Both methods, help to insert the value into the list. But the major differnce between two is the `append() method always add the value at the end of the list.` Whereas, `the insert() method can add the value anywhere in the list.`

In [13]:
lst = [1,2,3,4]
lst.append(5) # Added at the end of the list
print(lst)
lst.insert(0,'hello') # Added at the specific index '0'
print(lst)

[1, 2, 3, 4, 5]
['hello', 1, 2, 3, 4, 5]

11. What are the two methods for removing items from a list?

Ans: Two methods for removing items from a list: remove() method and pop() method and also del operator.

In [14]:
lst = [1,2,3,4,5,6,7,8]
lst.pop(1) # Default remove last index value but here, specified index 1 so it remove '2' value.
print(lst)
lst.remove(3) # Remove, specified value '3'.
print(lst)
del lst[2] # delete, specified index value. i.e. '4' value
print(lst)

[1, 3, 4, 5, 6, 7, 8]
[1, 4, 5, 6, 7, 8]
[1, 4, 6, 7, 8]

12. Describe how list values and string values are identical(same).

Ans:  Both lists and strings can be passed to len() function, have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the **in** and not **in** operators.

In [36]:
lst = [1,2,3,'manoj', 'kabin', 'ram', 453]
string = "Hello, I'm doing INeuron Course"


# Length
print(len(lst))
print(len(string))
# Indexes and slicing
print(lst[-1]) # last vale
print(string[::-1]) # Reverse oder

7
31
453
esruoC norueNI gniod m'I ,olleH

13. What's the difference between tuples and lists?

Ans: Tuples **( )** are immutable as list are mutable.List **[ ]** there are many different methods are available like slicing, index, append, insert. But in tuple only two methods are available (count and index).

14. How do you type a tuple value that only contains the integer 42?

In [41]:
tup = (42,) # NOTE, to denote single tuple we have to add , at last. If not, defaultly complier type is int. 
# tup = (42)  # Integer type not tuple.

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans: tuple() and list() function is used to convert list to tuple and tuple to list.

In [49]:
# List value into tuple form
lst = [1,2,3,4,'ram', 'gita', 5,6,7]
print(f"List: {lst}")
tup = tuple(lst)
print(f"List to tuple: {tup} ")

# Tuple value into list form
print('-'*20, '-' * 20)
tup = ('ram', 'shyam', 1, 2,4,5)
print(f"Tuple: {tup}")
lst = list(tup)
print(f"Tuple to List: {lst}")

List: [1, 2, 3, 4, 'ram', 'gita', 5, 6, 7]
List to tuple: (1, 2, 3, 4, 'ram', 'gita', 5, 6, 7)
-------------------- --------------------
Tuple: ('ram', 'shyam', 1, 2, 4, 5)
Tuple to List: ['ram', 'shyam', 1, 2, 4, 5]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans: Insted, they contain the reference of the list value.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans:

From: [Krish Naik](https://youtube.com/watch?v=SgUwPDT9tEs)

Revise this/ Practice this.

In [55]:
lst1 = [1,2,3,4,5]
lst2 = lst1 # lst2 copy the reference of lst1 not the value of lst1
            # also share the same memory location (of lst1 by lst2)

In [56]:
lst2[1] = 1000 # so, when we change in the lst2 it also change the lst1

In [57]:
lst2

[1, 1000, 3, 4, 5]

In [58]:
lst1 # also change in orignal list

[1, 1000, 3, 4, 5]

In [59]:
# Shallow Copy 

# .copy() operation
lst1 = [1,2,3,4,5]
lst2 = lst1.copy() 
# .copy() operation copy the value of lst2 and also 
# the memory location of lst1 and lst2 are different not like previous one.

In [63]:
lst2[1] = 1000 # Here, when change in lst2 it doesn't change lst1

In [61]:
lst2

[1, 1000, 3, 4, 5]

In [62]:
lst1 # no change in original list.

[1, 2, 3, 4, 5]

In [64]:
# Shallow Copy with nested list
lst1 = [[1,2,3,4], [5,6,7,8]]
lst2 = lst1.copy()

**NOTE:**  



*  When i try to use shallow copy with nested list. When i change the value inside of lst1[1][0] from 1 to 100 then if i print lst2 then in lst2 also the value had change. When i only change the value in lst1 but it also change in lst2. 

*  This is because, lst1 = [[1,2,3,4]] this is consider as the 1 item inside a nested list. So, when i change the lst1 value it also change the copy lst2 value also. This is because, both lists share the reference of same nested objects.

*   But, if you now append new nested list inside the lst1 then it only append inside lst1 it doesn't modify in lst2. So, this append  item will not get copied but if you are making changes in the values present inside the nested list which are copied to lst2 before. Then definitely it will also change in lst2.

In [69]:
lst1[1][0] = 100

In [67]:
lst2

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [70]:
lst1.append([2,3,4,5])
lst1

[[1, 2, 3, 4], [100, 6, 7, 8], [2, 3, 4, 5]]

In [71]:
lst2 # not copied in lst2

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [83]:
 # Deep Copy

import copy
lst1 = [1, 2,3,4] # single list
lst2 = copy.deepcopy(lst1)

In [84]:
lst2[1] = 100 # change in lst2 but in doesn't make any 
              # change in lst1 (orginal) same as sallow copy.

In [85]:
lst1

[1, 2, 3, 4]

**NOTE:** In a normal list shallow copy equal to Deep copy

In [76]:
# Deep copy with nested list

lst1 = [[1,2,3],[3,4,5],[5,6,7]]
lst2 = copy.deepcopy(lst1)

In [80]:
lst2[1][0] = 100 # change '3' to 100 in lst2
lst2

[[1, 2, 3], [100, 4, 5], [5, 6, 7]]

In [81]:
lst1 # If i check in lst1 it doesn't make any  changed in ls1

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [82]:
# So, unlike shallow copy nested loop. Here, both lst1 and lst2 nested list
# So, what we do, seperate memory location is create for each operation.
# THis, is the different .
# SO, here in nested list, deep copy and shallow copy are not same.