# Python Basic Assignment

**Assignment - 2**

1.What are the two values of the Boolean data type? How do you write them?

Ans: **True** and **False** are the two values of the Boolean data type. 

`NOTE: Not like in java, here must use Captial T and F.`

In [ ]:
a = True
b = False

print(a, type(a))
print(b, type(b))

True <class 'bool'>
False <class 'bool'>

2. What are the three different types of Boolean operators?

Ans:
 **AND, OR, NOT** are the three different types of Boolean operators.

In [ ]:
a = 100
b = 200

print(a>50 and b > 100) # and (both must be True)
print(a>50 or b>500) # or (any one must be True)
print(not(a>10)) # not (True then False, False then True)

True
True
False

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [ ]:
# And 
True and True # True
True and False # False
False and True # False
False and False # False

False

In [ ]:
# OR
True and True # True
True and False # True
False and True # True
False and False # False

False

In [ ]:
# Not
not(True) # False
not(False) # True

True

4. What are the values of the following expressions?
* (5 > 4) and (3 == 5)
* not (5 > 4)
* (5 > 4) or (3 == 5)
* not ((5 > 4) or (3 == 5))
* (True and True) and (True == False)
* (not False) or (not True)

In [ ]:
print((5>4) and (3 == 5)) # False
print(not(5>4)) # True
print((5>4) or (3==5)) # True
print(not((5>4) or (3==5))) # False
print((True and True) and (True == False)) # False
print((not False) or (not True)) # True

False
False
True
False
False
True

5. What are the six comparison operators?

Ans:

**==, !=, <, >, <=, >=** are the six comparison operators

In [ ]:
print(10 == 10) # Equal to
print(10 != 10) # not equal to
print(10 < 5) # Less than
print(10 > 2) # Greater than
print(10 <= 9) # Less than or equal to
print(10 >= 10) # Greater than or equal t0

True
False
False
True
False
True

6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

In [ ]:
# Assignement Operators (=)
# This is used to store value in a variable.

name = "Binod"
print(f"His name is {name}.")

His name is Binod.

In [ ]:
# Equal to (==)
# This is used to compare, two values and evaluates (True or False)

a = 20
b = 10
if a == b: 
  print("A equals B")
elif a >= b:
  print("A is greater than B")
else:
  print("B is grater than A")

A is greater than B

7. Identify the three blocks in this code:

    spam = 0

    if spam == 10:

    print('eggs')

    if spam > 5:

    print('bacon')

    else:

    print('ham')

    print('spam')

    print('spam')

[Python Code Block - What Is It?](https://www.youtube.com/watch?v=kDbensdySHM)

In [32]:
spam = 0
if spam == 10:
  print('eggs') # 1st block
if spam > 5:
  print('bacon') # 2nd block
else:
  print('ham') # 3rd block
print('spam')
print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [34]:
def spam_code(spam):
  if spam == 1:
    print('Hello')
  elif spam == 2:
    print('Howdy')
  else:
    print('Greetings')  

# Calling function
spam_code(1)
spam_code(2)
spam_code(100)

Hello
Howdy
Greetings

9. If your programme is stuck in an endless loop, what keys youâ€™ll press?

In [35]:
# Interrupt execution - Command + M

10. How can you tell the difference between break and continue?

In [37]:
# 1. Break -> will move the execution outside the loop, when condition satisfied.
lst = [1,2,3,4,5,6,7]
for ele in lst:
  if ele == 2:
    break

print(ele)

2

In [41]:
# 2. Continue -> will move the execution to the start of the loop

lst = [1,2,3,4,5]
newlst = []

for ele in lst:
  if ele == 4:
    continue
  else:
    newlst.append(ele)  

print(newlst)   # Print without 4 in new lst.

[1, 2, 3, 5]

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

1. range(10) - call range from 0 to 9 (excluding 10)

2. range(0,10) - call range from 0 to 9 but, here explicitly tells the loop to start from 0

3. range(0,10,1) - explicitly tells the loop to increase the variable by 1 step size in each iteration.

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [47]:
print('-'*10, 'Using for loop', '_'*10)
for i in range(1,11):
  print(i, end = ' ') # Use of end, default print in newline.
            # So, end = ' ' print in same line with space in bet
print('\n')
print('-'*10, 'Using for loop', '_'*10)
i = 1
while (i<=10):
  print(i, end =' ')
  i+=1

---------- Using for loop __________
1 2 3 4 5 6 7 8 9 10

----- Using for loop _____
1 2 3 4 5 6 7 8 9 10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Ans: After importing spam module, to call bacon() function. 

Called with **spam.bacon()** i.e.
`module_name.function_name()`